@mixin clearfix {
    clear: both;
    content: '';
    display: table;
    font-size: 0;
    line-height: 0;
  }
  
  @mixin transition($seconds) {
    transition: $seconds;
  }
  
  @mixin translateXY {
    transform: translateX(-50%) translateY(-50%);
  }
  
  @mixin color-transition($seconds) {
    transition: color $seconds;
  }
  
  @mixin rotate($seconds) {
    transform: rotate($seconds);
  }